<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt" version="1.0.0.0" targetFramework="net472" />
  <package id="EPPlus" version="4.5.3" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net472" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net472" />
  <package id="SautinSoft.PdfVision" version="5.3.6.5" targetFramework="net472" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net472" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net472" />
</packages>