<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.dm7.barcodescanner.zxing.sample">
  <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

  <application android:allowBackup="true"
        android:label="QR сканер no dialog"
        android:icon="@drawable/icon">
        <activity android:name=".MainActivity"
                  android:theme="@style/AppOverlayTheme"
                  android:label="QR сканер">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

      <activity android:name=".SimpleScannerActivity"
                android:theme="@style/AppOverlayTheme"
                android:label="Процесс сканирования">
        </activity>
      <activity android:name=".ChangeIpAndPort"
          android:theme="@style/AppOverlayTheme"
          android:label="Настройки">
      </activity>

  </application>
</manifest>